<a href="https://colab.research.google.com/github/marianabsctba/AT_Fundamentos_Python/blob/main/Quest%C3%A3o11_AT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Obtenha, usando requests ou urllib, dentro de seu programa em Python, o csv do link:
https://sites.google.com/site/dr2fundamentospython/arquivos/Video_Games_Sales_as_at_22_Dec_2016.csv
Obtenha, dentre os jogos do gênero de ação (Action), tiro (Shooter) e plataforma (Platform):

#A) Quais são as três marcas que mais publicaram jogos dos três gêneros combinados? Indique também o total de jogos de cada marca.

In [ ]:
import requests, csv, pandas as pd

def download_file(url):
    local_filename = url.split('/')[-1]
    with requests.get(url, stream=True) as r:
        r.raise_for_status()
        with open(local_filename, 'wb') as f:
            for chunk in r.iter_content(chunk_size=8192): 
                f.write(chunk)
    return local_filename



def filter_genres(data_frame):
    return  data_frame[ (data_frame['Genre'] == 'Action') |
                        (data_frame['Genre'] == 'Shooter') |
                        (data_frame['Genre'] == 'Platform') ]



file =  download_file('https://sites.google.com/site/dr2fundamentospython/arquivos/Video_Games_Sales_as_at_22_Dec_2016.csv')


dt_frame = pd.read_csv(file, sep=',')
frame_genre = dt_frame[ (dt_frame['Genre'] == 'Action') |
                        (dt_frame['Genre'] == 'Shooter') |
                        (dt_frame['Genre'] == 'Platform') ]

agg_dt_frame = frame_genre.groupby(['Publisher']).agg({'Publisher': ['count'], 'Global_Sales': ['sum']})

#A) Quais são as três marcas que mais publicaram jogos dos três gêneros combinados? Indique também o total de jogos de cada marca.

As empresas que mais venderam jogos nos três gêneros combinados foram Activision, Ubsioft e Eletronic Arts. A coluna count explicita o número de jogos. Adicionalmente foi incluída a coluna de vendas globais

In [ ]:
agg_dt_frame = frame_genre.groupby(['Publisher']).agg({'Publisher': ['count'], 'Global_Sales': ['sum']})
agg_dt_frame.sort_values(ascending=False, by=('Publisher', 'count')).head(3)

                Publisher Global_Sales
                    count          sum
Publisher
Activision            538       480.94
Ubisoft               360       231.97
Electronic Arts       344       287.13

#B) Quais são as três marcas que mais venderam os três gêneros combinados? Indique também o total de vendas de cada marca.

As marcas que mais venderam os gêneros combinados foram Nintendo, Activision e Eletronic Arts. A coluna "Global_Sales" indica o total de vendas de cada marca. Adicionalmente, foi incluída a coluna count, que se refere ao número de jogos.

In [ ]:
agg_dt_frame.sort_values(ascending=False, by=('Global_Sales', 'sum')).head(3)

                Publisher Global_Sales
                    count          sum
Publisher
Nintendo              217       623.24
Activision            538       480.94
Electronic Arts       344       287.13

#C) Qual é a marca com mais publicações em cada um dos gêneros nos últimos dez anos no Japão? Indique também o número total de jogos dela

As empresas com mais publicações são Nintendo (Platform), Namco (Action) e Activision(Shooter).

In [ ]:
jp_data_Frame = frame_genre[ (frame_genre['JP_Sales'] > 0) & 
                                (frame_genre['Year_of_Release'] >= 2010)  ]

counted = jp_data_Frame.groupby(['Genre', 'Publisher']).agg(['count'])
g = counted[('Name','count')].groupby('Genre', group_keys=False).nlargest(1)
g.head()

Genre     Publisher
Action    Namco Bandai Games    140
Platform  Nintendo               21
Shooter   Electronic Arts        26
Name: (Name, count), dtype: int64

#D) Qual foi a marca que mais vendeu em cada um desses gêneros nos últimos dez anos, no Japão? Indique também o total de vendas dela.

Observação: abaixo considerar o Total de Vendas e quais foram as marcas que mais venderam por gênero.

In [ ]:
join_data = agg_data_count.merge(
    right=agg_data_sum,
    how='inner',
    on=['Genre', 'Publisher']
)

join_data.sort_values(by=['Total Vendas'], ascending=False).head(10)

      Genre           Publisher  contagem  Total Vendas
1  Platform            Nintendo        21         14.44
0    Action  Namco Bandai Games       140         13.11
2   Shooter          Activision        23          3.85