<a href="https://colab.research.google.com/github/marianabsctba/AT_Fundamentos_Python/blob/main/Quest%C3%A3o10_AT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests, csv, pandas as pd

def download_file(url):
    local_filename = url.split('/')[-1]
    with requests.get(url, stream=True) as r:
        r.raise_for_status()
        with open(local_filename, 'wb') as f:
            for chunk in r.iter_content(chunk_size=8192): 
                f.write(chunk)
    return local_filename



file =  download_file('https://sites.google.com/site/dr2fundamentospython/arquivos/Winter_Olympics_Medals.csv')



dt_frame = pd.read_csv(file, sep=',')
dt_paises = dt_frame[(dt_frame['NOC'] == 'SWE') | 
                     (dt_frame['NOC'] == 'DEN') | 
                     (dt_frame['NOC'] == 'NOR')]

dt_filtra_ano = dt_paises[(dt_paises['Year'] > 2000)]

dt_filtrado_esportes = dt_filtra_ano[(dt_filtra_ano['Sport'] == 'Curling') |
                       (dt_filtra_ano['Sport'] == 'Skating') |
                       (dt_filtra_ano['Sport'] == 'Skiing') | 
                       (dt_filtra_ano['Sport'] == 'Ice Hockey')]

In [18]:
dt_curling = dt_filtrado_esportes[(dt_filtrado_esportes['Sport'] == 'Curling') &
             (dt_filtrado_esportes['Medal'] == 'Gold')]

      Year            City    Sport Discipline  NOC    Event Event gender Medal
1972  2002  Salt Lake City  Curling    Curling  NOR  curling            M  Gold
2272  2006           Turin  Curling    Curling  SWE  curling            W  Gold

#A) Dentre os seguintes países nórdicos: Suécia, Dinamarca e Noruega, verifique: No século XXI (a partir de 2001), qual foi o maior medalhista de ouro, considerando apenas as seguintes modalidades: i) Curling ii) Patinação no gelo (skating) iii) Esqui (skiing) iv) Hóquei sobre o gelo (ice hockey)

Relatório Curling: empate entre Noruega e Suécia, cada qual com 1 medalha de ouro neste esporte

In [19]:
dt_curling.groupby(['NOC'])['NOC'].count()

NOC
NOR    1
SWE    1
Name: NOC, dtype: int64

Relatório skating: nenhum resultado encontrado.

In [23]:
dt_skating = dt_filtrado_esportes[(dt_filtrado_esportes['Sport'] == 'Skating') & 
            (dt_filtrado_esportes['Medal'] == 'Gold')]

dt_skating.groupby(['NOC'])['NOC'].count()

Series([], Name: NOC, dtype: int64)

Relatório skiing: O maior medalhista de ouro é a Noruega (10 medalhas) e o segundo maior é a Suécia (4 medalhas)

In [26]:
dt_skiing = dt_filtrado_esportes[(dt_filtrado_esportes['Sport'] == 'Skiing') & 
            (dt_filtrado_esportes['Medal'] == 'Gold')]

dt_skiing.groupby(['NOC'])['NOC'].count()

NOC
NOR    10
SWE     4
Name: NOC, dtype: int64

Relatório Ice Hockey: O maior medalhista de ouro é a Suécia (1 medalha)

In [27]:
dt_ice_hockey = dt_filtrado_esportes[(dt_filtrado_esportes['Sport'] == 'Ice Hockey') & 
                (dt_filtrado_esportes['Medal'] == 'Gold')]
dt_ice_hockey.groupby(['NOC'])['NOC'].count()

NOC
SWE    1
Name: NOC, dtype: int64

#B) Para cada esporte, considere todas as modalidades, tanto no masculino quanto no feminino. Sua resposta deve imprimir um relatório mostrando o total de medalhas de cada um dos países e em que esporte, ano, cidade e gênero (masculino ou feminino) cada medalha foi obtida.

Segue relatório realizando a contagem do número de medalhas nos termos propostos pelo enunciado.

In [30]:
q_b= dt_frame.groupby(['NOC', 'Sport', 'Year','City','Event gender'])[['Medal']].count()
q_b

                                              Medal
NOC Sport   Year City           Event gender
AUS Skating 1994 Lillehammer    M                 1
            2002 Salt Lake City M                 1
    Skiing  1998 Nagano         W                 1
            2002 Salt Lake City W                 1
            2006 Turin          M                 1
...                                             ...
USA Skiing  2006 Turin          W                 5
UZB Skiing  1994 Lillehammer    W                 1
YUG Skiing  1984 Sarajevo       M                 1
            1988 Calgary        M                 2
                                W                 1

[969 rows x 1 columns]